* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

.container {
  flex: 1 0 auto;
}
